<app-navbar />

<form [formGroup]="supplierForm" class="was-validated" (ngSubmit)="onSubmit()">
  <h2>Formulario Actualización Proveedor</h2>

  <div class="input-group mt-3">
    <span class="input-group-text bg-info-subtle" id="basic-addon1"
      >Nombre</span
    >
    <input
      id="name"
      formControlName="name"
      type="text"
      class="form-control"
      placeholder="Nombre"
      aria-label="Nombre"
      aria-describedby="basic-addon1"
      [ngClass]="{
        'is-invalid':
          supplierForm.get('name')?.invalid && supplierForm.get('name')?.touched
      }"
      required
    />
    <div
      *ngIf="
        supplierForm.get('name')?.invalid && supplierForm.get('name')?.touched
      "
      class="invalid-feedback text-danger border-bottom border-danger"
    >
      Nombre es requerido
    </div>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text bg-info-subtle" id="basic-addon1">Tipo</span>
    <select
      id="type"
      formControlName="type"
      class="form-select"
      [ngClass]="{
        'is-invalid':
          supplierForm.get('type')?.invalid && supplierForm.get('type')?.touched
      }"
      required
    >
      <option selected disabled value="">Seleccione un tipo</option>
      <option value="individual">Individual</option>
      <option value="company">Empresa</option>
    </select>
    <div
      *ngIf="
        supplierForm.get('type')?.invalid && supplierForm.get('type')?.touched
      "
      class="invalid-feedback text-danger border-bottom border-danger"
    >
      Tipo es requerido y debe ser "individual" o "empresa"
    </div>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text bg-info-subtle" id="basic-addon1"
      >CIF/NIF</span
    >
    <input
      type="text"
      id="cifnif"
      class="form-control"
      formControlName="cifnif"
      placeholder="cif/nif"
      aria-label="cif/nif"
      aria-describedby="basic-addon1"
      [ngClass]="{
        'is-invalid':
          supplierForm.get('cifnif')?.invalid &&
          supplierForm.get('cifnif')?.touched
      }"
      required
    />
    <div
      *ngIf="
        supplierForm.get('cifnif')?.invalid &&
        supplierForm.get('cifnif')?.touched
      "
      class="invalid-feedback text-danger border-bottom border-danger"
    >
      <div *ngIf="supplierForm.get('cifnif')?.errors?.['required']">
        CIF/NIF es requerido
      </div>
    </div>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text bg-info-subtle" id="basic-addon1"
      >Dirección</span
    >
    <input
      type="text"
      id="address"
      class="form-control"
      formControlName="address"
      placeholder="direccion"
      aria-label="direccion"
      aria-describedby="basic-addon1"
      [ngClass]="{
        'is-invalid':
          supplierForm.get('address')?.invalid &&
          supplierForm.get('address')?.touched
      }"
      required
    />
    <div
      *ngIf="
        supplierForm.get('address')?.invalid &&
        supplierForm.get('address')?.touched
      "
      class="invalid-feedback text-danger border-bottom border-danger"
    >
      <div *ngIf="supplierForm.get('address')?.errors?.['required']">
        Dirección es requerido
      </div>
    </div>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text bg-info-subtle" id="basic-addon1"
      >Ciudad</span
    >
    <input
      type="text"
      id="city"
      class="form-control"
      formControlName="city"
      placeholder="ciudad"
      aria-label="ciudad"
      aria-describedby="basic-addon1"
      [ngClass]="{
        'is-invalid':
          supplierForm.get('city')?.invalid && supplierForm.get('city')?.touched
      }"
      required
    />
    <div
      *ngIf="
        supplierForm.get('city')?.invalid && supplierForm.get('city')?.touched
      "
      class="invalid-feedback text-danger border-bottom border-danger"
    >
      <div *ngIf="supplierForm.get('city')?.errors?.['required']">
        Ciudad es requerida
      </div>
    </div>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text bg-info-subtle" id="basic-addon1"
      >Comunidad</span
    >
    <input
      type="text"
      id="state"
      class="form-control"
      formControlName="state"
      placeholder="comunidad"
      aria-label="comunidad"
      aria-describedby="basic-addon1"
      [ngClass]="{
        'is-invalid':
          supplierForm.get('state')?.invalid &&
          supplierForm.get('state')?.touched
      }"
      required
    />
    <div
      *ngIf="
        supplierForm.get('state')?.invalid && supplierForm.get('state')?.touched
      "
      class="invalid-feedback text-danger border-bottom border-danger"
    >
      <div *ngIf="supplierForm.get('state')?.errors?.['required']">
        Comunidad es requerida
      </div>
    </div>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text bg-info-subtle" id="basic-addon1"
      >Código Postal</span
    >
    <input
      type="text"
      id="postalCode"
      class="form-control"
      formControlName="postalCode"
      placeholder="codigo postal"
      aria-label="codigo postal"
      aria-describedby="basic-addon1"
      [ngClass]="{
        'is-invalid':
          supplierForm.get('postalCode')?.invalid &&
          supplierForm.get('postalCode')?.touched
      }"
      required
    />
    <div
      *ngIf="
        supplierForm.get('postalCode')?.invalid &&
        supplierForm.get('postalCode')?.touched
      "
      class="invalid-feedback text-danger border-bottom border-danger"
    >
      <div *ngIf="supplierForm.get('postalCode')?.errors?.['required']">
        Código Postal es requerido
      </div>
    </div>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text bg-info-subtle" id="basic-addon1"
      >Teléfono</span
    >
    <input
      type="text"
      id="phone"
      class="form-control"
      formControlName="phone"
      placeholder="telefono"
      aria-label="telefono"
      aria-describedby="basic-addon1"
      [ngClass]="{
        'is-invalid':
          supplierForm.get('phone')?.invalid &&
          supplierForm.get('phone')?.touched
      }"
      required
    />
    <div
      *ngIf="
        supplierForm.get('phone')?.invalid && supplierForm.get('phone')?.touched
      "
      class="invalid-feedback text-danger border-bottom border-danger"
    >
      <div *ngIf="supplierForm.get('phone')?.errors?.['required']">
        Teléfono es requerido
      </div>
    </div>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text bg-info-subtle" id="basic-addon1"
      >Correo Electrónico</span
    >
    <input
      type="email"
      id="email"
      class="form-control"
      formControlName="email"
      placeholder="email"
      aria-label="email"
      aria-describedby="basic-addon1"
      [ngClass]="{
        'is-invalid':
          supplierForm.get('email')?.invalid &&
          supplierForm.get('email')?.touched
      }"
      required
    />
    <div
      *ngIf="
        supplierForm.get('email')?.invalid && supplierForm.get('email')?.touched
      "
      class="invalid-feedback text-danger border-bottom border-danger"
    >
      <div *ngIf="supplierForm.get('email')?.errors?.['required']">
        Código Postal es requerido
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-lg btn-primary w-100 mt-3">
    Actualizar Proveedor
  </button>
</form>
